body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Roboto&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.principal {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 960px;
  width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: rgb(31, 31, 31);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards {
  DISPLAY: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card-1 {
  background-color: rgba(194, 11, 11, 0.815);
  color: white;
  height: 300px;
  width: 200px;
  display: flex;
  padding: 10px;
  border-radius: 6px;
  flex-flow: column;
}

.card-2 {
  background-color: rgba(25, 59, 3, 0.815);
  color: white;
  height: 300px;
  width: 200px;
  display: flex;
  padding: 10px;
  border-radius: 6px;
  flex-flow: column;
}

.card-3 {
  background-color: rgba(150, 21, 255, 0.815);
  color: white;
  height: 300px;
  width: 200px;
  display: flex;
  padding: 10px;
  border-radius: 6px;
  flex-flow: column;
}

.card-1:hover,.card-2:hover,.card-3:hover {
  color: white;
  height: 300px;
  width: 200px;
  transition: all 1s ease-in-out;
  transform: scale(1.1);
}

.img-2{
  width: 300px;
  margin: auto;
  transform: translate(-20%, -00);
}

.img-1{
  width: 130px;
  margin: auto;
  height: 230px;
}

.img-3{
  width: 400px;
  margin: auto;
  transform: translate(-20%, -00%) rotate(20deg);
}

.title{
  font-size: 30px;
  margin: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.title-vp{
  font-size: 30px;
  margin-bottom: -8px;
  margin-top: -5px;
  color: rgb(180, 142, 72);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.card-vp{
  background-color: rgba(180, 142, 72, 0.815);
  color: white;
  height: 300px;
  width: 200px;
  display: flex;
  padding: 10px;
  border-radius: 6px;
  flex-flow: column;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(31, 31, 31);
  color: white;
  text-align: center;
}

.linkout1{
  color: rgb(162, 255, 182);
  text-decoration: none;
}

.linkout2{
  color: rgb(162, 229, 255);
  text-decoration: none;
}

.container-vp{
  width: 100%;
  height: 100%;
  background-color: rgb(255, 251, 219);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.resume,.att,.skills{
  border: 1px solid rgb(180, 142, 72);
  width: 1000px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.input-vp {width: 292px;}

.logo{
  height: 100px;
  margin: auto;
  margin-top: 20px;
}

label{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  max-width: 400px;
  width: 331px;
  border: 1px solid rgb(180, 142, 72);
}